<!DOCTYPE html>
<html>
    <head>
        {% block head %}{% endblock %}
        <script>
            function toggleDropdownMenu(element, openClick) {
                switch (openClick) {
                    case true:
                        element.style.visibility = "initial";
                        break;
                    case false:
                        element.style.visibility = "hidden";
                        break;
                }
            }
            window.addEventListener("DOMContentLoaded", function() {
                var burger = document.getElementsByClassName("hamburger-container")[0];
                var dropdownNav = document.getElementsByClassName("dropdown-nav")[0];
                var openClick = false;
                
                burger.addEventListener("click", function() {
                    openClick = !openClick;
                    toggleDropdownMenu(dropdownNav, openClick);
                });
                
                dropdownNav.addEventListener("click", function() {
                    openClick = !openClick;
                    toggleDropdownMenu(dropdownNav, openClick);
                })

            }, false);
        </script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <button class="hamburger-container">
                <div class="hamburger"></div>
                <div class="hamburger"></div>
                <div class="hamburger"></div>
            </button>
            <div class="navbar {% if not user.is_authenticated %}right{% endif %}">
                {% if user.is_authenticated %}
                <a class="element" href="/">Dashboard</a>
                <a class="element" href="/counter/">Counter</a>
                <a class="element" href="/feed/">Feed</a>
                <a class="element" href="/forecast/">Forecast</a>
                <a class="element" href="/supporters/">Supporters</a>
                <a class="element" href="/sponsor/">Sponsor</a>
            </div>
            <div class="navbar right">
                <a class="element" href="/accounts/">Account</a>
                <a class="element" href="/accounts/logout/">Logout</a>
            </div>
                {% else %}
                <a class="element" href="/accounts/login/">Login</a>
                <a class="element" href="/accounts/register/">Register</a>
                {% endif %}
            {% block header %}{% endblock %}
        </div>
        <div class="body-content">
            <div class="dropdown-nav">
                {% block dropdown_nav %}{% endblock %}
            </div>
            {% block app %}{% endblock %}
        </div>
    </body>
</html>