.counter {
    display: flex;
    flex-direction: row;

    /* These two properties let us horizontally align
     * content. Without one of these, the data is misaligned
     */
    width: 100%;
}

.counter-form {
    display: inherit;
    flex-direction: column;

    background-color: #fff;
    border-right: 2px solid #fff;
}

.form-wrapper {
}

.form-section {
    margin: 1em 2em 0 3em;
}

.form:not(:first-child) {
    margin-top: 1em;
}

.form-label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
}

.advanced-btn {
    display: block;
    margin-top: 1em;

    font-family: 'Roboto', sans-serif;
    color: #888;

    cursor: pointer;
}

.advanced-btn:hover {
    color: #656565;
}

.advanced-btn:active {
    color: #000;
}

.optional-form {
    display: none;
}

.form-input input {
    width: 320px;
    height: 40px;

    margin-top: 1em;

    border: 2px solid #333;
    text-indent: 10px;
}

.form-input input::placeholder {
    font-family: 'Roboto', sans-serif;
}

.form-submit-wrapper {
    margin-top: 1em;
}
.form-submit-wrapper input {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;

    border: none;
    padding: 0.5em 1em 0.5em 1em;
}

.additional-entry-btn {
    /* Sizes button to equal height of submit button */
    border: 1px solid #000;
    background-color: #000;
    color: #fff;

    padding: 0.5em 1em 0.5em 1em;
}

.additional-entry-btn:hover {
    background-color: #333;
    cursor: pointer;
}

/* Calorie chart begin */
.calorie-chart-wrapper {
    width: 80%;
}
/* Calorie chart end */


.calorie-history {
    width:560px;
    border-left: 2px solid #fff;
}

.calories-table {
    padding: 1em 1.5em 2em 1.5em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width:100%;
}

.calories-table-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;

    width: 100%;
    padding: 0.5em 1em 0.5em 1em;
}

.section-header:not(:last-of-type) {
}

.section-header:last-child {
}
