.counter {
    display: flex;
    flex-direction: row;

    /* These two properties let us horizontally align
     * content. Without one of these, the data is misaligned
     */
    width: 100%;
}

.counter-form {
    display: inherit;
    flex-direction: column;

    /* Width property value depenant on .calorie-history's width value*/
    /*width: 100%;*/
}

.form-wrapper {
}

.form-section {
    margin: 1em 2em 0 3em;
}

.form:not(:first-child) {
    margin-top: 1em;
}

.form-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
}

.form-input input {
    width: 220px;
    height: 30px;

    border: 2px solid #333;
    text-indent: 10px;
}

.form-input input::placeholder {
    font-family: 'Open Sans', sans-serif;
}

.form-submit-wrapper {
    margin-top: 1em;
}
.form-submit-wrapper input {
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    color: #fff;
    
    border: none;
    padding: 0.5em 1em 0.5em 1em;
}

.additional-entry-btn {
    /* Sizes button to equal height of submit button */
    border: 1px solid #000;
    background-color: #000;
    color: #fff;

    padding: 0.5em 1em 0.5em 1em;
}

/* Calorie chart begin */
.calorie-chart-wrapper {
    width: 80%;
}
/* Calorie chart end */


.calorie-history {
    width:560px;
}

.calories-table {
    margin: 1em 1em 0 0;
}

.calories-table-desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;

    width:100%;
}

.calorie-entries {
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    padding-left: 2em;

    text-align: center;
}
.section-header:not(:last-of-type) {
    border-right: 5px solid #444;
}

.section-header:last-child {
    border-right: 5px solid #444;
}