.calorie-counter, .weight-counter {
    display: flex;
    flex-direction: row;

    color: #fff;

    /* These two properties let us horizontally align
     * content. Without one of these, the data is misaligned
     */
    width: 100%;
}

.weight-counter {
    display: none;
}

.counter-form {
    display: inherit;
    flex-direction: column;
}

.form-body {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 30px;
    padding-right: 30px;

    border-right: 2px solid #111;
    border-bottom: 2px solid #111;

    /*box-shadow: -2px -5px 10px #000;*/

    height: 100%;
}

.form-tabs {
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: #000;

    display: flex;
}

.form-tab {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
}

.form-tab:hover {
    background-color: #254fa7;
    cursor: pointer;
}

.form-tab-active {
    background-color: #1e66ff;
    font-weight: bold;
}

.calorie-form-section, .weight-form-section {
    margin: 1em 0em 1em 0em;
}

.form:not(:first-child) {
    margin-top: 1em;
}

.form-label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
}

.advanced-btn {
    display: block;
    margin-top: 1em;

    font-family: 'Roboto', sans-serif;
    color: #888;

    cursor: pointer;
}

.advanced-btn:hover {
    color: #656565;
}

.advanced-btn:active {
    color: #000;
}

.optional-form {
    display: none;
}

.form-input input {
    width: 250px;
    height: 40px;

    margin-top: 1em;

    border: 1px solid #000;
    text-indent: 10px;

    background-color: #262626;
    color: #fff;
}

.form-input input::placeholder {
    font-family: 'Roboto', sans-serif;
}

.form-submit-wrapper {
    margin-top: 1em;
}
.form-submit-wrapper input {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;

    border: none;
    padding: 0.5em 1em 0.5em 1em;
}

.additional-entry-btn {
    /* Sizes button to equal height of submit button */
    border: 1px solid #000;
    background-color: #1e66ff;
    color: #fff;

    padding: 0.75em 2em 0.75em 2em;
}

.additional-entry-btn:hover {
    background-color: #254fa7;
    cursor: pointer;
}

/* Calorie chart begin */
.chart-wrapper {
    width: 80%;
}

.calorie-chart, .weight-chart {}
/* Calorie chart end */


.calorie-history {
    width:560px;
    /*border-left: 2px solid #fff;*/
}

.table-body {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 30px;
    padding-right: 30px;

    border-left: 2px solid #111;
    border-bottom: 2px solid #111;
    /*box-shadow: 2px -5px 5px #000;*/

    height: 100%;
}

.calories-table {
    text-align: left;
    font-family: 'Roboto', sans-serif;

    border-collapse: collapse;

    width:100%;
}

.calories-table-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;

    width: 100%;
}

.calories {
    text-align: left;
}

.section-header:not(:last-of-type) {
}

.section-header:last-child {
}
