{% extends "base.html" %}

{% block header_js_dom_loaded %}
                var toggleActive = function(tag) {
                    if (tag.className.indexOf("form-tab-active") !== -1) {
                        tag.className = tag.className.replace(" form-tab-active", "");
                    } else {
                        tag.className += " form-tab-active";
                    }
                };

                var changeStatus = function(e) {
                    if (this.className.indexOf(" form-tab-active") === -1) {
                        var calorieCounter = document.getElementsByClassName("calorie-counter")[0];
                        var weightCounter = document.getElementsByClassName("weight-counter")[0];

                        if (this === weightTab[0]) {
                            calorieCounter.style.display = "none";
                            weightCounter.style.display = "inherit";
                        } else {
                            weightCounter.style.display = "none";
                            calorieCounter.style.display = "inherit";
                        }
                    }
                };

                calorieTab = document.getElementsByClassName("calories-tab");
                weightTab = document.getElementsByClassName("weight-tab");

                calorieTab[0].addEventListener("click", changeStatus);
                calorieTab[1].addEventListener("click", changeStatus);
                weightTab[0].addEventListener("click", changeStatus);
                weightTab[1].addEventListener("click", changeStatus);

                advancedBtn = document.getElementsByClassName("advanced-btn")[0];
                advancedBtnClick = false;
                advancedOptions = document.getElementsByClassName("optional-form");

                advancedBtn.addEventListener("click", function() {
                    advancedBtnClick = !advancedBtnClick;

                    if (advancedBtnClick) {
                        advancedBtn.innerHTML = "Advanced ▲";
                    } else {
                        advancedBtn.innerHTML = "Advanced ▼";
                    }
                    for (i = 0; i < advancedOptions.length; i++) {
                        toggleDisplay(advancedOptions[i], advancedBtnClick, "inherit");
                    }
                });


{% endblock %}
{% block head %}
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <link href="/static/css/index.css" rel="stylesheet">
        <link href="/static/css/counter.css" rel="stylesheet">
{% endblock %}

{% block dropdown_nav %}
                <a class="dropdown-element" href="#something">Calories</a>
                <a class="dropdown-element" href="#something">Weight</a>
                <a class="dropdown-element" href="#something">Nutrition</a>
                <a class="dropdown-element" href="#something">Statistics</a>
                <a class="dropdown-element" href="#something">Settings</a>
                <a class="dropdown-element" style="height: 100%;"></a>
{% endblock %}


{% block app %}
    <div class="calorie-counter">
        <div class="counter-form">
            <div class="calorie-form">
                <div class="section-header calorie-header">
                    <p>Calorie Entry</p>
                </div>
                <div class="form-body">
                    <div class="form-tabs">
                        <a class="form-tab calories-tab form-tab-active">Calories</a>
                        <a class="form-tab weight-tab">Weight</a>
                    </div>
                    <div class="calorie-form-section">
                        <form action="." method="post">
                            {% csrf_token %}
                            {% for form in calorie_form %}
                            {% if forloop.counter < 6 %}
                            <div class="form">
                                <div class="form-label">
                                    {{ form.label_tag }}
                                </div>
                                <div class="form-input">
                                    {{ form }}
                                </div>
                            </div>
                            {% endif %}
                            {% if forloop.counter == 5 %}
                            <a class="advanced-btn">Advanced ▼</a>
                            {% endif %}
                            {% if forloop.counter0 >= 5 %}
                            <div class="form optional-form">
                                <div class="form-label optional-form-label">
                                    {{ form.label_tag }}
                                </div>
                                <div class="form-input optional-form-input">
                                    {{ form }}
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div class="form-submit-wrapper">
                                <button class="additional-entry-btn" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrapper">
            <div class="section-header">
                <p>Chart</p>
            </div>
            <div class="calorie-chart">
                <svg></svg>
                <script>
                    var daily_data = [{% for entry in calories_daily %}{ date: "{{ entry.calorie_day }}", amount: {{ entry.calorie_sum }} },{% endfor %}];

                    var svg = d3.select("svg");
                </script>
            </div>
        </div>
        <div class="calorie-history">
            <div class="section-header">
                <p>Calorie History</p>
            </div>
            <div class="table-body">
                <table class="calories-table">
                    {% if calories_daily %}
                    <tr>
                        <th class="calories-table-desc">Date</th>
                        <th class="calories-table-desc">Calories</th>
                    </tr>
                    {% for entry in calories_daily %}
                    <tr class="calorie-entries">
                        <td class="timestamp">{{ entry.calorie_day }}</td>
                        <td class="calories">{{ entry.calorie_sum }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <th style="text-align: center;">No calorie entries found</th>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    <div class="weight-counter">
        <div class="counter-form">
            <div class="calorie-form">
                <div class="section-header calorie-header">
                    <p>Weight Entry</p>
                </div>
                <div class="form-body">
                    <div class="form-tabs">
                        <a class="form-tab calories-tab">Calories</a>
                        <a class="form-tab weight-tab form-tab-active">Weight</a>
                    </div>
                    <div class="weight-form-section">
                        <form action="/weight/" method="post">
                            {% csrf_token %}
                            {% for form in weight_form %}
                            {% if forloop.counter < 5 %}
                            <div class="form">
                                <div class="form-label">
                                    {{ form.label_tag }}
                                </div>
                                <div class="form-input">
                                    {{ form }}
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div class="form-submit-wrapper">
                                <button class="additional-entry-btn" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrapper">
            <div class="section-header">
                <p>Chart</p>
            </div>
            <div class="weight-chart">
                <svg></svg>
                <script>
                    var daily_data = [{% for entry in calories_daily %}{ date: "{{ entry.calorie_day }}", amount: {{ entry.calorie_sum }} },{% endfor %}];
                    var svg = d3.select("svg")
                        .attr("width", 100)
                        .attr("height", 100);

                    var g = svg.append("g")
                        .attr("width", 100)
                        .attr("height", 100);

                    var x = d3.scaleTime().rangeRound([0, 100]);
                    var y = d3.scaleLinear().rangeRound([100, 0]);

                    var line = d3.line()
                        .x(function(e) { return x(e.date); })
                        .y(function(e) { return y(e.amount); });

                    x.domain(d3.extent(daily_data, function(e) { return e.date; }));
                    y.domain(d3.extent(daily_data, function(e) { return e.amount }));

                    g.append("path")
                        .datum(daily_data)
                        .attr("fill", "none")
                        .attr("stroke", "steelblue")
                        .attr("stroke-linejoin", "round")
                        .attr("stroke-linecap", "round")
                        .attr("stroke-width", 1.5)
                        .attr("d", line);

                </script>
            </div>
        </div>
        <div class="calorie-history">
            <div class="section-header">
                <p>Weight History</p>
            </div>
            <div class="table-body">
            <table class="calories-table">
                {% if weight_daily %}
                <tr>
                    <th class="calories-table-desc">Date</th>
                    <th class="calories-table-desc">Calories</th>
                </tr>
                {% for entry in weight_daily %}
                <tr class="calorie-entries">
                    <td class="timestamp">{{ entry.calorie_day }}</td>
                    <td class="calories">{{ entry.calorie_sum }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <th style="text-align: center;">No weight entries found</th>
                </tr>
                {% endif %}
            </table>
            </div>
        </div>
    </div>
{% endblock %}
