{% extends "base.html" %}

{% block header_js_dom_loaded %}
                advancedBtn = document.getElementsByClassName("advanced-btn")[0];
                advancedBtnClick = false;
                advancedOptions = document.getElementsByClassName("optional-form");

                advancedBtn.addEventListener("click", function() {
                    advancedBtnClick = !advancedBtnClick;

                    if (advancedBtnClick) {
                        advancedBtn.innerHTML = "Advanced ▲";
                    } else {
                        advancedBtn.innerHTML = "Advanced ▼";
                    }
                    for (i = 0; i < advancedOptions.length; i++) {
                        toggleDisplay(advancedOptions[i], advancedBtnClick, "inherit");
                    }
                });
{% endblock %}
{% block head %}
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <link href="/static/css/index.css" rel="stylesheet">
        <link href="/static/css/counter.css" rel="stylesheet">
{% endblock %}

{% block dropdown_nav %}
                <a class="dropdown-element" href="#something">Calories</a>
                <a class="dropdown-element" href="#something">Weight</a>
                <a class="dropdown-element" href="#something">Nutrition</a>
                <a class="dropdown-element" href="#something">Statistics</a>
                <a class="dropdown-element" href="#something">Settings</a>
                <a class="dropdown-element" style="height: 100%;"></a>
{% endblock %}


{% block app %}
    <div class="counter">
        <div class="counter-form">
            <div class="form-wrapper">
                <div class="section-header">
                    <p>Calorie Entry</p>
                </div>
                <div class="form-section">
                    <form action="." method="post">
                        {% csrf_token %}
                        {% for form in calorie_form %}{% if forloop.counter < 3 %}
                        <div class="form">
                            <div class="form-label">
                                {{ form.label_tag }}
                            </div>
                            <div class="form-input">
                                {{ form }}
                            </div>
                        </div>
                        {% endif %}
                        {% if forloop.counter == 2 %}
                        <a class="advanced-btn">Advanced ▼</a>
                        {% endif %}
                        {% if forloop.counter0 >= 3 %}
                        <div class="form optional-form">
                            <div class="form-label optional-form-label">
                                {{ form.label_tag }}
                            </div>
                            <div class="form-input optional-form-input">
                                {{ form }}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="form-submit-wrapper">
                            <button class="additional-entry-btn" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="calorie-chart-wrapper">
            <div class="section-header">
                <p>Chart</p>
            </div>
        </div>
        <div class="calorie-history">
            <div class="section-header">
                <p>Calorie History</p>
            </div>
            <table class="calories-table">
                {% if calories_daily %}
                <tr>
                    <th class="calories-table-desc">Day</th>
                    <th class="calories-table-desc">Calories</th>
                </tr>
                {% for entry in calories_daily %}
                <tr class="calorie-entries">
                    <td class="timestamp">{{ entry.calorie_day }}</td>
                    <td class="calories">{{ entry.calorie_sum }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <th>No calorie entries found</th>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
