<!DOCTYPE html>
<html>
    <head>
        <link href="/static/register.css" rel="stylesheet" />
    </head>

    <body>
    <div class="registration">
        <form action="." method="post">
            {% csrf_token %}
            {% for form in registration_form %}
            <div class="form">
                {{ form.label_tag }}{{ form }}
            </div>
            {% endfor %}
            <input type="submit" value="Register" />
        </form>
    </div>
    </body>
</html>